# Load Data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../api/data/BLI_28032019144925238.csv")

# Explore data

In [3]:
df.head()

,LOCATION,Country,INDICATOR,Indicator,MEASURE,Measure,INEQUALITY,Inequality,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,4.3,NaN,NaN
1,AUT,Austria,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,2.7,NaN,NaN
2,BEL,Belgium,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,4.8,NaN,NaN
3,CAN,Canada,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.9,NaN,NaN
4,CZE,Czech Republic,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,1.8,NaN,NaN

In [4]:
df.columns

Index(['LOCATION', 'Country', 'INDICATOR', 'Indicator', 'MEASURE', 'Measure',
       'INEQUALITY', 'Inequality', 'Unit Code', 'Unit', 'PowerCode Code',
       'PowerCode', 'Reference Period Code', 'Reference Period', 'Value',
       'Flag Codes', 'Flags'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3398 entries, 0 to 3397
Data columns (total 17 columns):
LOCATION                 3398 non-null object
Country                  3398 non-null object
INDICATOR                3398 non-null object
Indicator                3398 non-null object
MEASURE                  3398 non-null object
Measure                  3398 non-null object
INEQUALITY               3398 non-null object
Inequality               3398 non-null object
Unit Code                3398 non-null object
Unit                     3398 non-null object
PowerCode Code           3398 non-null int64
PowerCode                3398 non-null object
Reference Period Code    0 non-null float64
Reference Period         0 non-null float64
Value                    3398 non-null float64
Flag Codes               1136 non-null object
Flags                    1136 non-null object
dtypes: float64(3), int64(1), object(13)
memory usage: 451.4+ KB

Most of the columns do not have null values. In particular, the "Country" and "Value" columns have all records with info

## Value

In [6]:
df["Value"].describe()

count      3398.000000
mean       5353.200309
std       15832.099269
min           0.000000
25%           7.000000
50%          62.000000
75%          91.000000
max      176076.000000
Name: Value, dtype: float64

In [7]:
mask = df["Value"] > 100
df[mask].shape

(698, 17)

## Inequality

In [8]:
df["Inequality"].unique()

array(['Total', 'Men', 'Women', 'High', 'Low'], dtype=object)

## Indicator

In [9]:
df["Indicator"].unique()

array(['Labour market insecurity',
       'Stakeholder engagement for developing regulations',
       'Feeling safe walking alone at night',
       'Dwellings without basic facilities', 'Housing expenditure',
       'Rooms per person', 'Household net adjusted disposable income',
       'Household net financial wealth', 'Employment rate',
       'Long-term unemployment rate', 'Personal earnings',
       'Quality of support network', 'Educational attainment',
       'Student skills', 'Years in education', 'Air pollution',
       'Water quality', 'Voter turnout', 'Life expectancy',
       'Self-reported health', 'Life satisfaction', 'Homicide rate',
       'Employees working very long hours',
       'Time devoted to leisure and personal care'], dtype=object)

## Example

In [10]:
mask = (df["Indicator"] == "Life satisfaction") & (df["Inequality"] == "Total") & (df["Value"] > 3)
df.loc[mask, ["Country", "Value"]]

              Country  Value
2859        Australia    7.3
2860          Austria    7.0
2861          Belgium    6.9
2862           Canada    7.3
2863   Czech Republic    6.6
2864          Denmark    7.5
2865          Finland    7.5
2866           France    6.4
2867          Germany    7.0
2868           Greece    5.2
2869          Hungary    5.3
2870          Iceland    7.5
2871          Ireland    7.0
2872            Italy    5.9
2873            Japan    5.9
2874            Korea    5.9
2875       Luxembourg    6.9
2876           Mexico    6.6
2877      Netherlands    7.4
2878      New Zealand    7.3
2879           Norway    7.5
2880           Poland    6.0
2881         Portugal    5.2
2882  Slovak Republic    6.1
2883            Spain    6.4
2884           Sweden    7.3
2885      Switzerland    7.5
2886           Turkey    5.5
2887   United Kingdom    6.7
2888    United States    6.9
2889           Brazil    6.6
2890            Chile    6.7
2891          Estonia    5.6
2892           Israel    7.2
2893           Latvia    5.9
2894           Russia    6.0
2895         Slovenia    5.8
2896     South Africa    4.8
2897     OECD - Total    6.5

In [11]:
mask = (df["Indicator"] == "Life satisfaction") & (df["Inequality"] == "Total")
df.loc[mask, ["Country", "Value"]].shape

(39, 2)

In [12]:
df.loc[mask, ["Country", "Value"]].describe()

           Value
count  39.000000
mean    6.528205
std     0.766039
min     4.800000
25%     5.900000
50%     6.600000
75%     7.250000
max     7.500000